.bg {
    background-image: url("food.jpg");
    height: 600px;
    margin-right: -8px;
    margin-left: -20px;
    margin-top: -8px;
    margin-bottom: -50px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50;

}

#image {
    background-color: black;
    height: 600px;
    background: rgba(0, 0, 0, 0.5);

    /* width: 1101px; */
    margin-right: 1px;
    margin-left: -20px;
    margin-top: -8px;
    text-align: center;

}

#content {

    text-align: center;
    /* background-color: aquamarine;  */

    padding: 20px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 200px;
}

#content h1 {
    color: whitesmoke;
    font-size: 60px;
    font-style: italic;
}

#content p {
    color: whitesmoke;
    font-size: 35px;
    text-align: center;

}

#image ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;

}

#image li {
    float: right;
}

#image li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#image li a:hover {
    background-color: #111;
}

#content button:hover {
    background-color: red;


}

#content button {
    height: 40px;
    width: 100px;
    border-radius: 10px 10px;
    border: 2px solid #e7e7e7;
    transition-duration: 0.6s;
    cursor: pointer;

}

#content button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 8%;
    width: 47px;
    height: fit-content;
    padding-left: 9%;
    margin-left: -5px !important;
    margin-top: -6%;
    opacity: 0;
    transition: 0.7s 

}

#content button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}



.bg h1 {
    color: rgb(0, 0, 0, 0.7);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.bg p {
    text-align: center;
    font-family: Bodoni;
    font-size: 23px;
    font-weight: -1000px;
    color: rgba(0, 0, 0, 0.6);
    gap: 75px;

}

.bg #flag {
    width: 55px;
    height: 30px;
    border-radius: 20%;
}


/* Create three equal columns that floats next to each other */
.column{
    float: left;
    width: 20%;
    padding: 15px;

  }
.column h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
.column p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
}
  
  
  
  /* Clear floats after the columns */
   /* .row::after {
    content: "";
    display: table;
    clear: both;
  }  */
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
    }
.aboutsection h1{
    text-align:left;
    padding-left: 15px;
    font-weight: bolder;
    font-style: italic;

}
.aboutsection{
    background-color:whitesmoke;
    height: 425px;
    margin-left: 25px;
    margin-right: 25px;
    box-sizing: border-box;
    


}



.dropbtn {
     background-color:whitesmoke; 
    /* background-color: #111; */
    color:black;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
    margin-right: 12px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    

  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  .dropbtn2{
    background-color: whitesmoke;
    color: black;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: inline-end;
    margin-top: 5px;
    margin-right: 12px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
  }
  /* .dropbtn2:hover, .dropbtn2:focus {
    background-color: #2980B9;
  } */
  #flag2{
    width: 35px;
    height: 20px;
    border-radius: 10%;
    
  }
  

  
  
 
  